@use 'base/mixins' as m;


.meeti {
    &__heading{
        @include m.heading;
        margin-bottom: 5rem;
    }

    &__grid {
        @include m.tablet { 
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: 2rem;
        }
    }
}