@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {

    &__informacion {
        padding: 2rem;
        background-color: v.$secundario;
        color: v.$blanco;
        text-align: center;
    }

    &__heading, 
    &__texto{
        color: v.$blanco;
    }

    &__label {
        font-weight: 700;
    }

}